<div class="card card-shadow">
    <div class="form-banner"></div>

    <form class="card-body" #form="ngForm" (ngSubmit)="addEducation()" novalidate>

        <h5 class="card-title">Nueva Educación</h5>

        <div class="input-field">
            <input type="text" name="edTitle" id="edTitle" autocomplete="off" placeholder="ingresar título" [(ngModel)]="edTitle" required>
        </div>

        <div class="input-field">
            <textarea class="content-field" type="text" name="edContent" id="edContent" autocomplete="off" placeholder="ingresar contenido" [(ngModel)]="edContent" required></textarea>
        </div>

        <button type="submit" class="btn btn-dark">Agregar</button>

    </form>
</div>