<div class="card card-shadow">
    <div class="form-banner"></div>

    <form class="card-body" #form="ngForm" (ngSubmit)="addEducation()" novalidate>

        <h5 class="card-title">Nueva Educación</h5>

        <div class="input-field">
            <input type="text" name="edTitle" id="edTitle" autocomplete="off" placeholder="ingresar título" [(ngModel)]="edTitle" required>
            <small style="color: #c4c4c4;" *ngIf="edTitle.length < 3">Mín. 3 caracteres</small>
        </div>

        <div class="input-field">
            <textarea class="content-field" type="text" name="edContent" id="edContent" autocomplete="off" placeholder="ingresar contenido" [(ngModel)]="edContent" required></textarea>
            <small style="color: #c4c4c4;" *ngIf="edContent.length < 10">Mín. 10 caracteres</small>
        </div>

        <div class="btns-field">
            <button type="button" class="btn btn-secondary closeBtn" routerLink="">Cancelar</button>

            <button type="submit" class="btn btn-dark" *ngIf="edContent.length != 0 && edContent.length >=10 && edContent.length <= 500 && edTitle.length >= 3 && edTitle.length <= 50 ">Agregar</button>
        </div>

    </form>
</div>