<div class="col">
    <div class="card">
        <div class="card-body">
        <h5 class="card-title">Idiomas</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <p class="h6" style="margin: 0;">Español nativo</p>
          </li>
          <li class="list-group-item">
            <div class="accordion" id="accordionExample">
              <div class="accordion-item" style="border: none!important;">
                <h4 class="accordion-header" id="headingOne">
                  <li class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" style="padding: 0;">
                    <p class="h6">Inglés</p>
                  </li>
                </h4>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <p style="margin: 0;"><b>Nivel Intermedio</b>
                    <br>
                    - Comprensión lectora y auditiva perfecta.
                    <br>
                    - Correcta dicción y habla.
                    <br>
                    - En formación de vocabulario técnico.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
    </div>
</div>