<div class="col">
    <div class="card">
        <div class="card-body">
        <h5 class="card-title">Educación</h5>
        </div>
        <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <p class="h6">Autodidacta</p>
          <p>Me desarrollo como programador autodidacta desde mediados del 2021.
            <br>
            Me informo constantemente sobre el mundo IT.
            <br>
            Aprendo lenguajes de programación vía documentación, cursos, proyectos, etc.
          </p>
        </li>
        <li class="list-group-item">
          <p class="h6">Tecnicatura en Programación Informática</p>
          <p>Actualmente estoy en el comienzo del segundo año de carrera.
            <br>
            Está planteada para una duración de 2 años y medio.
            Se puede extender la carrera a 4 años para ser Licenciado en Informática.
            <br>
            Esta decisión la tomé por el hecho de querer saber más que solo programar.
            <br>
            De esta forma puedo aprender distintos temas que están alrededor de la programación en sí y son fundamentales para comprender el funcionamiento de la misma en su totalidad.
          </p>
        </li>
        <li class="list-group-item">
          <p class="h6">Argentina Programa</p>
          <p>Comenzó con el 2022 y durante todo el año participó en mi formación de manera significativa.
            <br>
            Pasé la primera etapa. Certificado <a target="_blank" href="assets/certificado-etapa1.pdf"><u>acá</u></a>. 
            <br>
            Finalizando la segunda y última etapa. Este portafolio representa el proyecto final de la misma.
          </p>
        </li>
        </ul>
    </div>
</div>