<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" target="_blank" href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa">
        <img src="assets/copia2.png" width="45px" height="35px" class="d-inline-block align-top" loading="lazy" style="filter: invert(1) grayscale(100%) brightness(200%);">
      </a>
      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item default-select"> Argentina Programa: #YoProgramo </li>
        </ul>
        <div class="d-flex">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 list-inline">
            <li class="list-inline-item">
              <a class="navbar" href="#">
                <!-- <img src="lkn.png" alt=""> -->
                Linkedin
              </a>
            </li>
            <li class="list-inline-item">
              <a class="navbar" href="#">
                <!-- <img src="gh.png" alt="" height="25px" width="25px"> -->
                GitHub
              </a>
            </li>
            <li class="list-inline-item">
              <button type="button" class="btn btn-danger" (click)="logout()">Log Out</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
</nav>