<div class="card card-shadow">
    <div class="form-banner"></div>

    <form class="card-body" #form="ngForm" (ngSubmit)="addSS()" novalidate>

        <h5 class="card-title">Nueva SoftSkill</h5>

        <div class="input-field">
            <input type="text" name="ssTitle" id="ssTitle" autocomplete="off" placeholder="ingresar título" [(ngModel)]="ssTitle" required>
            <small style="color: #c4c4c4;" *ngIf="ssTitle.length < 3">Mín. 3 caracteres</small>
        </div>

        <div class="btns-field">
            <button type="button" class="btn btn-secondary closeBtn" routerLink="">Cancelar</button>

            <button type="submit" class="btn btn-dark" *ngIf="ssTitle.length >= 3 && ssTitle.length <= 50 ">Agregar</button>
        </div>

    </form>
</div>