/* crea el espacio superior entre el nav y el tope de la view */
nav {
    margin-top: 22px;
}

/* modifica la seleccion de la seccion izquierda del nav */
.default-select {
    color: #c4c4c4;

    cursor: default;
    user-select: none;
}