<div class="card card-shadow">
    <div class="form-banner"></div>

    <form class="card-body" #form="ngForm" (ngSubmit)="updateTech()" novalidate>

        <h5 class="card-title">Editar Tecnología</h5>

        <div class="input-field">
            <input type="text" name="tsTitle" id="tsTitle" autocomplete="off" placeholder="ingresar título" [(ngModel)]="ts.tsTitle" required>
            <small style="color: #c4c4c4;" *ngIf="ts.tsTitle.length < 1">Mín. 1 caractér</small>
        </div>

        <div class="input-field">
            <input type="number" name="percentage" id="percentage" autocomplete="off" placeholder="ingresar porcentaje" [(ngModel)]="ts.percentage" min="0" max="100" required>
        </div>

        <div class="btns-field">
            <button type="button" class="btn btn-secondary closeBtn" routerLink="">Cancelar</button>

            <button type="submit" class="btn btn-dark" *ngIf="ts.tsTitle.length >= 3 && ts.tsTitle.length <= 50 ">Actualizar</button>
        </div>

    </form>
</div>