
/* diseno de selectores */
*::selection {
    background-color: rgba(0,0,0,.125);
    color: #000;
}

/* smooth scroll */
* {
    scroll-behavior: smooth;
}

/* agrega sombras al borde de cada componente */
.col{
    border-radius: 12px;
    /* este border radius debe ser solo para determinadas resoluciones */
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2),
    -4px -4px 10px rgba(255, 255, 255, 0.8);
}

/* modifica los links */
a {
    text-decoration: none!important;

    color: black!important;
}

a:hover {
    color: #00f!important;
}

/* modifica la view entre estas resoluciones */
@media (min-width : 500px) and (max-width : 1200px) {
    
    :host {
        display: grid;
        place-items: center;
        gap: 22px;
    }

    .col{
        width: 75vw;

        border-radius: 12px;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2),
        -4px -4px 10px rgba(255, 255, 255, 0.8);
    }

    nav {
        width: 75vw;
    }
}


/* modifica la view entre estas resoluciones */
@media (min-width : 1200px) {
    
    :host {
        display: grid;
        place-items: center;
        gap: 22px;
    }
    
    .col{
        width: 55vw;

        border-radius: 12px;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2),
        -4px -4px 10px rgba(255, 255, 255, 0.8);
    }

    nav {
        width: 55vw;
    }
}

/* styles for editionMode */

.nonStyled {
    border: none;
    margin: 0;
    padding: 0;
    background-color: inherit;
}

/* icon design */
.icon {
    width: 23px;
    height: 23px;
}

/* add design */
.add {
    color: #000;
}

/* delete design */
.delete {
    color: #ff0000;
}

/* edit design */
.edit {
    color: #6c757d;
    height: 21.5px;
}

.noLongWord {
    word-break: break-all;
    /* word-wrap: break-word; */
}