<div class="col">
    <div class="card">
        <div class="card-body">
        <h5 class="card-title">Proyectos</h5>
        </div>
        <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <p class="h6">Randomizers</p>
          <p> Diferentes secciones para seleccionar distintas cosas al azar.
            <br>
            Hecho con html, css y javascript.
          </p>
          <a href="https://github.com/zstobi/randomizers.git" target="_blank" class="card-link">Ir al repositorio.</a>
        </li>
        <li class="list-group-item">
          <p class="h6">Conversor</p>
          <p> Aplicacion de Conversion.
            <br>
            Hecho con html, css y javascript.
          </p>
          <a href="https://github.com/zstobi/conversor.git" target="_blank" class="card-link">Ir al repositorio.</a>
        </li>
        <li class="list-group-item">
          <p class="h6">Aim Game</p>
          <p> Un juego simple de aiming/puntería.
            <br>
            Hecho con html, css, nes.css y javascript.
          </p>
          <a href="https://github.com/zstobi/AimGame.git" target="_blank" class="card-link">Ir al repositorio.</a>
        </li>
        <li class="list-group-item">
          <p class="h6">To Do</p>
          <p> Aplicacion de organizacion de tareas por hacer.
            <br>
            <i style="color: #777777;"> - aun en desarrollo - </i>
            <br>
            Hecho con html, css, nes.css y javascript.
          </p>
          <a href="https://github.com/zstobi/To-Do.git" target="_blank" class="card-link">Ir al repositorio.</a>
        </li>
        <li class="list-group-item">
          <p class="h6">Pixel Art</p>
          <p> Aplicación de simulación para realizar dibujos basados en PixelArt.
            <br>
            <i style="color: #777777;"> - aun en desarrollo - </i>
            <br>
            Hecho con html, css y javascript.
          </p>
          <a href="https://github.com/zstobi/Pixel-Art.git" target="_blank" class="card-link">Ir al repositorio.</a>
        </li>
        <li class="list-group-item">
          
          <!-- CARRUSEL  -->

      <div class="bd-example">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2" class="active" aria-current="true"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4" class=""></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5" class=""></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item">

              <!-- primera imagen -->

              <img src="assets/prjs-images/randomizers.png" width="100%" height="400" alt="">

              <div class="carousel-caption d-none d-md-block">
                
                <h5>
                  <span class="badge rounded-pill bg-dark">Randomizers</span>
                </h5>

              </div>
            </div>
            <div class="carousel-item active">

              <!-- segunda imagen -->

              <img src="assets/prjs-images/conversor1.png" width="100%" height="400" alt="">

              <div class="carousel-caption d-none d-md-block">
                
                <h5>
                  <span class="badge rounded-pill bg-dark">Conversor</span>
                </h5>

              </div>
            </div>
            <div class="carousel-item">

              <!-- tercera imagen -->

              <img src="assets/prjs-images/aim-game.png" width="100%" height="400" alt="">

              <div class="carousel-caption d-none d-md-block">
                
                <h5>
                  <span class="badge rounded-pill bg-dark">AimGame</span>
                </h5>
                

              </div>
            </div>
            <div class="carousel-item">

              <!-- cuarta imagen -->

              <img src="assets/prjs-images/to-do.png" width="100%" height="400" alt="">

              <div class="carousel-caption d-none d-md-block">
                
                <h5>
                  <span class="badge rounded-pill bg-dark">To Do</span>
                </h5>
                

              </div>
            </div>
            <div class="carousel-item">

              <!-- quinta imagen -->

              <img src="assets/prjs-images/pixel-art.png" width="100%" height="400" alt="">

              <div class="carousel-caption d-none d-md-block">
                
                <h5>
                  <span class="badge rounded-pill bg-dark">Pixel Art</span>
                </h5>
                

              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        </div>

      <!-- FINALIZA ACA -->

        </li>
        </ul>
    </div>
</div>