/* items and buttons field */
.itemBtns {
    display: inline-flex;
    justify-content: space-between;
    gap: 30px;
}

.itemBtnsAdd {
    display: inline-flex;
    justify-content: space-between;
    gap: 30px;
}

/* buttons field */
.btns {
    display: inline-flex;
    place-items: center;
    gap: 20px;
}

@media (max-width : 400px) {
    .itemBtns {
        display: grid;
        gap: 20px;
    }

    .btns {
        display: inline-flex;
        place-content: center;

        padding-bottom: 10px;
    }
}