<div class="card card-shadow">
    <div class="form-banner"></div>

    <form class="card-body" #form="ngForm" (ngSubmit)="updateEd()" novalidate>

        <h5 class="card-title">Editar Acerca de Mi</h5>

        <div class="input-field">
            <textarea class="content-field" type="text" name="abtmContent" id="abtmContent" autocomplete="off" placeholder="ingresar contenido" [(ngModel)]="abtm.abtmContent" required></textarea>
        </div>

        <div class="btns-field">
            <button type="button" class="btn btn-secondary closeBtn" routerLink="">Cancelar</button>

            <button type="submit" class="btn btn-dark">Actualizar</button>
        </div>

    </form>
</div>