<div class="col">
    <div class="card">
        <div class="card-body">
        <h5 class="card-title">Tecnologías</h5>
        <p class="card-text">
          <b>0%</b> nulo - <b>100%</b> experto
        </p>
        </div>
        <ul class="list-group list-group-flush">
        <li class="list-group-item">HTML
          <div class="progress mb-3">
            <div class="progress-bar bg-dark text-white w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
          </div>
        </li>
        <li class="list-group-item">CSS
          <div class="progress mb-3">
            <div class="progress-bar bg-dark text-white w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
          </div>
        </li>
        <li class="list-group-item">JAVASCRIPT
          <div class="progress mb-3">
            <div class="progress-bar bg-dark text-white" role="progressbar" style="width: 60%;">60%</div>
          </div>
        </li>
        <li class="list-group-item">ANGULAR
          <div class="progress mb-3">
            <div class="progress-bar bg-dark text-white" role="progressbar" style="width: 35%;">35%</div>
          </div>
        </li>
        <li class="list-group-item">BOOTSTRAP
          <div class="progress mb-3">
            <div class="progress-bar bg-dark text-white" role="progressbar" style="width: 75%;">75%</div>
          </div>
        </li>
        <li class="list-group-item">SPRINGBOOT
          <div class="progress mb-3">
            <div class="progress-bar bg-dark text-white" role="progressbar" style="width: 35%;">35%</div>
          </div>
        </li>
        <li class="list-group-item">MySQL
          <div class="progress mb-3">
            <div class="progress-bar bg-dark text-white w-50" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
          </div>
        </li>
        <li class="list-group-item">
          <small>Nótese que los porcentajes es simplemente por el atractivo visual.</small>
          <br>
          <small>Es importante resaltar que cada persona puede juzgar de manera distinta los conocimientos.</small>
          <br>
          <small>Algo que es 50% para mí, puede significar un 20% para otra persona.</small>
        </li>
        </ul>
    </div>
</div>