<div class="col">
    <div class="card">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <h5 class="card-title">Acerca de Mi</h5>
            </li>
            <li class="list-group-item">
              <p class="card-text" style="text-align: justify">
                Comienza mi carrera como Desarrollador de Software a mediados del 2021.
                <br>
                Python fue el primer lenguaje que aprendí. Nivel básico.
                <br>
                Me permitió realizar proyectos simples, de los que haces cuando empezas a programar.
                <br>
                Con el correr de las semanas aprendí también HTML y CSS básico. 
                <br>
                Sobre el final del 2021 decidí tomarme muy en serio el aprendizaje.
                <br>
                Así fue que opté por aprender un lenguaje que me permita visualizar de mejor manera mis resultados. Conocí JavaScript.
                <br>
                A día de hoy, las tecnologías que más domino son JavaScript, HTML y CSS.
                <br>
                Decidí también formarme como profesional, me encuentro cursando una Tecnicatura en Programación con posibilidad de extensión a una Licenciatura en Informática. 
                <br>
                Me siento muy cómodo en este rubro y planeo continuar mi formación profesional y autodidacta para poder así, ingresar al mercado laboral en esta industria.  
              </p>
            </li>
          </ul>
        </div>
    </div>
</div>

<!-- <div *ngIf="abtm"> -->
<!-- <div >
  {{data.texto}} + funciono
</div> -->