/* text no margin */
p {
    margin: 0;
    text-justify: auto;
}

/* items and buttons field */
.itemBtns {
    display: inline-flex;
    justify-content: space-between;
    gap: 30px;
}

.itemBtnsAdd {
    display: inline-flex;
    justify-content: space-between;
    gap: 30px;
}

/* buttons field */
.btns {
    display: inline-flex;
    place-items: center;
    gap: 20px;
}

.nonStyled {
    border: none;
    margin: 0;
    padding: 0;
    background-color: inherit;
}

/* icon design */
.icon {
    width: 23px;
    height: 23px;
}

/* add design */
.add {
    color: #000;
}

/* delete design */
.delete {
    color: #ff0000;
}

/* edit design */
.edit {
    color: #6c757d;
    height: 21.5px;
}

@media (max-width : 400px) {
    .itemBtns {
        display: grid;
        gap: 30px;
    }

    .btns {
        display: inline-flex;
        place-content: center;

        padding-bottom: 10px;
    }
}