<div class="card card-shadow">
    <div class="form-banner"></div>

    <form class="card-body" #form="ngForm" (ngSubmit)="updateSS()" novalidate>

        <h5 class="card-title">Editar SoftSkill</h5>

        <div class="input-field">
            <input type="text" name="ssTitle" id="ssTitle" autocomplete="off" placeholder="ingresar título" [(ngModel)]="ss.ssTitle" required>
        </div>

        <div class="btns-field">
            <button type="button" class="btn btn-secondary closeBtn" routerLink="">Cancelar</button>

            <button type="submit" class="btn btn-dark" *ngIf="ss.ssTitle.length >= 3 && ss.ssTitle.length <= 50 ">Actualizar</button>
        </div>

    </form>
</div>