<div class="card card-shadow">
    <div class="form-banner"></div>

    <div class="card-body">

        <h5 class="card-title">Modo Edición</h5>

        <div class="input-field">
            <input type="text" name="user" id="user" autocomplete="off" placeholder="ingresar usuario">
        </div>

        <div class="input-field">
            <input type="password" name="password" id="password" autocomplete="off" placeholder="ingresar contraseña">
        </div>

        <button type="submit" class="btn btn-dark">Ingresar</button>

    </div>
</div>