<div class="card card-shadow">
    <div class="form-banner"></div>

    <form class="card-body" #form="ngForm" (ngSubmit)="login(form)">

        <h5 class="card-title">Modo Edición</h5>

        <div class="input-field">
            <input type="text" name="user" id="user" autocomplete="off" placeholder="ingresar usuario" [(ngModel)]="creds.user">
        </div>

        <div class="input-field">
            <input type="password" name="password" id="password" autocomplete="off" placeholder="ingresar contraseña" [(ngModel)]="creds.password">
        </div>

        <div class="btns-field">

            <button type="button" class="btn btn-secondary closeBtn" routerLink="">Cancelar</button>
            
            <button type="submit" class="btn btn-dark">Ingresar</button>
            
        </div>


    </form>
</div>