<div class="card card-shadow">
    <div class="form-banner"></div>

    <form class="card-body" #form="ngForm" (ngSubmit)="addProject()" novalidate>

        <h5 class="card-title">Nuevo Proyecto</h5>

        <div class="input-field">
            <input type="text" name="prjsTitle" id="prjsTitle" autocomplete="off" placeholder="ingresar título" [(ngModel)]="prjsTitle" required>
        </div>

        <div class="input-field">
            <textarea class="content-field" type="text" name="prjsContent" id="prjsContent" autocomplete="off" placeholder="ingresar contenido" [(ngModel)]="prjsContent" required></textarea>
        </div>

        <div class="input-field">
            <input type="text" name="link" id="link" autocomplete="off" placeholder="link al repositorio" [(ngModel)]="link">
        </div>

        <div class="btns-field">
            <button type="button" class="btn btn-secondary closeBtn" routerLink="">Cancelar</button>

            <button type="submit" class="btn btn-dark">Agregar</button>
        </div>

    </form>
</div>